<link rel="stylesheet" href='/stylesheets/amend.css' />
<%- include('../partials/header') %>

<div class="amend">
    <table border="1">

        <% patients.forEach(p=> { %>

            <tr>
                <td><strong>NRIC/FIN:</strong></td>
                <td>
                    <%= p.nricfin %>
                </td>
            </tr>
            <tr>
                <td><strong>Name:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <input type="text" name="name" value="<%= p.name %>" onkeyup="this.value = this.value.toUpperCase();">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Contact No:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin%>?_method=PUT">
                        <input type="text" name="contactno" value="<%= p.contactno %>">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>DOB:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <input type="date" name="dobFormatted" value="<%= p.dobFormatted %>">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Gender:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <select name="gender">
                            <option value="" disabled selected></option>
                            <option value="MALE" <% if (p.gender==='MALE' ) { %>selected<% } %>>MALE</option>
                            <option value="FEMALE" <% if (p.gender==='FEMALE' ) { %>selected<% } %>>FEMALE</option>
                        </select>
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Nationality:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <select name="nationality">
                            <option value="" disabled selected></option>
                            <option value="SINGAPOREAN" <% if (p.nationality==='SINGAPOREAN' ) { %>selected<% } %>
                                    >SINGAPORE CITIZEN</option>
                                    <option value="WORK PERMIT" <% if (p.nationality==='WORK PERMIT' ) { %>selected<% } %>
                                        >WORK PERMIT</option>
                            <option value="PR" <% if (p.nationality==='PR' ) { %>selected<% } %>>PR</option>
                            <option value="S-PASS" <% if (p.nationality==='S-PASS' ) { %>selected<% } %>>S-PASS</option>
                            <option value="E-PASS" <% if (p.nationality==='E-PASS' ) { %>selected<% } %>>E-PASS</option>
                        </select>
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Street Address:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin%>?_method=PUT">
                        <input type="text" name="streetaddress" value="<%= p.streetaddress %>" onkeyup="this.value = this.value.toUpperCase();">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Postal Code:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <input type="text" name="postalcode" value="<%= p.postalcode %>">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Unit No:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <input type="text" name="unitno" value="<%= p.unitno %>">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Drug Allergies:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <input type="text" name="drugallergies" value="<%= p.drugallergies.join(', ')%>" onkeyup="this.value = this.value.toUpperCase();">
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Vaccinated:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <select name="vaccination">
                            <option value="" disabled selected></option>
                            <option value="YES" <% if (p.vaccination==='YES' ) { %>selected<% } %>>YES
                            </option>
                            <option value="NO" <% if (p.vaccination==='NO' ) { %>selected<% } %>>NO
                            </option>
                        </select>
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td><strong>Vaccination Type:</strong></td>
                <td>
                    <form method="POST" action="/patients/<%= p.nricfin %>?_method=PUT">
                        <select name="vaccinationtype">
                            <option value="" disabled selected></option>
                            <option value=" " <% if (p.vaccinationtype==='' ) { %>selected<% } %>>
                            </option>
                            <option value="PFIZER" <% if (p.vaccinationtype==='PFIZER' ) { %>selected<% } %>>PFIZER
                            </option>
                            <option value="MODERNA" <% if (p.vaccinationtype==='MODERNA' ) { %>selected<% } %>>MODERNA
                            </option>
                            <option value="NOVAVAX" <% if (p.vaccinationtype==='NOVAVAX' ) { %>selected<% } %>>NOVAVAX
                            </option>
                            <option value="SINOVAC" <% if (p.vaccinationtype==='SINOVAC' ) { %>selected<% } %>>SINOVAC
                            </option>
                        </select>
                        <button type="submit">Save</button>
                    </form>
                </td>
            </tr>
            <td><strong>Profile Created Date:</strong></td>
            <td>
                <%= p.createdAtFormatted %>
            </td>
            </tr>
</table>
            <form method="POST" action="/patients/<%= p.nricfin %>?_method=DELETE">
                <button type="submit">Delete Patient Profile</button>
            </form>
        </div>
            <% }) %>



                <%- include('../partials/footer') %>