<link rel="stylesheet" href='/stylesheets/lookup.css' />
<%- include('../partials/header') %>

<table class="blueTable">
  <thead>
    <tr>
      <th>Queue No</th> 
      <th>Name</th>
      <th>Type</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% queueno.forEach(q => { %>
      <tr>
        <td><%= q.queueNo %></td>
        <td><%= q.name %></td>
        <td><%= q.type %></td>
        <td><%= q.createdAtFormatted %></td>
        <td>
          <form method="POST" action="/queueno/<%= q._id %>?_method=DELETE">
            <button type="submit">Delete Queue</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>
